body {
  font-family: Arial, sans-serif;
  background: lightblue;
  width: 100%;
  height: 100%;
}
.container {
  width: 450px;
  margin: 30px auto;
  background: rgb(103, 154, 171);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 15px 15px 15px 5px #869ea5;
}
.error {
  color: red;
  font-size: 14px;
}
.success {
  color: green;
  font-size: 16px;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-top: 10px;
}
input {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  background-color: lightblue;
  border: 0px;
}
button {
  margin-top: 15px;
  padding: 10px;
  width: 95%;
  background: lightcoral;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
