body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(205, 236, 205);
}
button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-color: pink;
  background-color: pink;
}
p {
  font-size: 50px;
}
.message {
  font-size: 20px;
}

form {
  font-size: 30px;
  border: 2px solid white;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 60px 20px;
  justify-content: center;
}
form div {
  display: flex;
  flex-direction: column;
}
form div input {
  width: 100%;
  height: 50px;
  font-size: 20px;
}

form .btn_div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 20px;
}

form .btn_div button {
  align-items: right;
  width: 120px;
  height: 40px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border-color: pink;
  background-color: pink;
}
.add_btn {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.add_btn button {
  align-items: right;
  width: 150px;
  height: 40px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border-color: pink;
  background-color: pink;
}
.student-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.student-table th,
.student-table td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

/* .student-table th {
    background-color: #2c3e50;
    color: white;
} */

.student-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.student-table tr:hover {
  background-color: #e0e0e0;
}
